[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_localhost
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Krita Localhost
Comment=Access Krita Python API by connecting to localhost:12174
